<component name="libraryTable">
  <library name="spring_jar">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-web-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-web-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jcl-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-webmvc-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-orm-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-test-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-webflux-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-support-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-indexer-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-aop-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jdbc-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-aspects-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-messaging-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jms-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jms-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-test-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-core-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-aspects-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jcl-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jms-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jdbc-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-tx-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-expression-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-core-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-beans-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-instrument-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-indexer-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-instrument-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-beans-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-support-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-webmvc-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/commons-logging-1.2-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-messaging-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-test-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-instrument-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-orm-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-tx-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-oxm-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-orm-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-support-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-aspects-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jcl-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-web-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-aop-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-beans-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-messaging-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-aop-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-context-indexer-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-core-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-expression-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-jdbc-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-websocket-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-expression-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-tx-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-oxm-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-webflux-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-webmvc-5.2.8.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-webflux-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-websocket-5.2.8.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-websocket-5.2.8.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring_jar/spring-oxm-5.2.8.RELEASE-javadoc.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>